# Initial EDA of data from Inside Airbnb, opensource data from Airbnb available [here](http://insideairbnb.com/get-the-data/)

### Files downloaded for London: neighbourhoods.csv, listings.csv, calendar.csv, reviews.csv

Reading in data

In [4]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib as plt
import logging

main_path = Path(r'C:\Users\user\Documents\Data Science Upskilling')

Exploring Neighbourhoods dataset

In [5]:
neighbourhoods = pd.read_csv(main_path / 'neighbourhoods.csv')

In [11]:
neighbourhoods.neighbourhood.drop_duplicates()

0       Barking and Dagenham
1                     Barnet
2                     Bexley
3                      Brent
4                    Bromley
5                     Camden
6             City of London
7                    Croydon
8                     Ealing
9                    Enfield
10                 Greenwich
11                   Hackney
12    Hammersmith and Fulham
13                  Haringey
14                    Harrow
15                  Havering
16                Hillingdon
17                  Hounslow
18                 Islington
19    Kensington and Chelsea
20      Kingston upon Thames
21                   Lambeth
22                  Lewisham
23                    Merton
24                    Newham
25                 Redbridge
26      Richmond upon Thames
27                 Southwark
28                    Sutton
29             Tower Hamlets
30            Waltham Forest
31                Wandsworth
32               Westminster
Name: neighbourhood, dtype: object

Exploring the listings dataset

In [9]:
listings = pd.read_csv(main_path / 'listings.csv')

In [10]:
listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,7.193800e+04,7.193800e+04,0.0,71938.000000,71938.000000,71938.000000,71938.000000,71938.000000,54815.000000,71938.000000,71938.000000,71938.000000,0.0
mean,1.906421e+17,1.302250e+08,NaN,51.509796,-0.128060,179.044038,5.838569,17.878896,0.926740,12.690289,112.404612,5.315494,NaN
std,3.089116e+17,1.448766e+08,NaN,0.048221,0.098929,459.367116,24.248758,41.221431,1.298427,39.943321,135.767106,12.532506,NaN
min,1.391300e+04,2.594000e+03,NaN,51.295937,-0.497800,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,1.901316e+07,1.911581e+07,NaN,51.483460,-0.189590,59.000000,1.000000,1.000000,0.130000,1.000000,0.000000,0.000000,NaN
50%,3.666804e+07,6.253360e+07,NaN,51.513770,-0.125760,100.000000,2.000000,4.000000,0.470000,1.000000,40.000000,0.000000,NaN
75%,5.940407e+17,2.073428e+08,NaN,51.539790,-0.068253,180.000000,4.000000,16.000000,1.150000,4.000000,232.000000,6.000000,NaN
max,7.781518e+17,4.908020e+08,NaN,51.681142,0.288570,53588.000000,1125.000000,1171.000000,48.000000,281.000000,365.000000,604.000000,NaN

In [ ]:
calendar = pd.read_csv(main_path / 'calendar.csv.gz')
ca

In [15]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  2.625630e+07    2.625627e+07    2.625627e+07
mean   1.906502e+17    7.836669e+00    6.646163e+05
std    3.089135e+17    3.267485e+01    3.758872e+07
min    1.391300e+04    1.000000e+00    1.000000e+00
25%    1.901270e+07    1.000000e+00    9.000000e+01
50%    3.666239e+07    3.000000e+00    1.125000e+03
75%    5.940630e+17    5.000000e+00    1.125000e+03
max    7.781518e+17    1.125000e+03    2.147484e+09